
#main{
    background-color: gainsboro;
    margin: 1vw auto;
    padding: 2vw;
    width:auto;
    height: auto;  
    border-radius: 20px;
    text-align: center;
}

#img_div{
    display: block;
    padding-left: 35%;
    margin-left: 2.5%;
    width: 60%;
    background-color: white;
    border-radius: 5px;
}
#image{
    width: 25vw;
    height: 25vw;
    margin-right: 35vw; 
    border-radius: 50%;
    border:3px solid black;
}
#img_caption{
    margin-right: 27vw;
}

#headline{
    text-align: center;
    margin-top: 4vw;
    
}
ul{
  max-width:750px;
  margin:0 auto;
  text-align:left;
    font-size: 20px;
    line-height: 26px;
    font-family:cursive;
}
blockquote{
    font-style: italic;
    text-align: center;
    font-size: 1.5vw;
}